<md-toolbar flex>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <md-button class="md-icon-button" aria-label="Menu" ng-click="vm.toggle()">
      <md-icon>menu</md-icon>
    </md-button>
    <p>{{ vm.title }}</p>
    <span flex></span>
    <div style="width: 40px; height: 40px;"></div>
  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left" md-component-id="left">
  <md-toolbar>
    <h1 class="md-toolbar-tools">Dashboard Menu</h1>
  </md-toolbar>
  <md-list ng-cloak>
    <md-list-item ng-href="#/admin">
      <md-icon style="padding-right: 16px; color: #000000">dashboard</md-icon>
      <p>Server Admin</p>
    </md-list-item>
  </md-list>
</md-sidenav>


<md-content layout-padding md-scroll-y style="height: 100%">
  <md-grid-list ng-if="vm.allClients !== undefined && vm.allClients.length > 0" md-cols-gt-md="4" md-cols="2" md-cols-md="3" md-cols-xs="1" md-row-height-gt-md="4:3" md-row-height="4:3" md-gutter-gt-md="16px"
    md-gutter-md="8px" md-gutter="4px">
    <md-grid-tile ng-repeat="currClient in vm.allClients" md-colspan-gt-sm="1" md-rowspan-gt-sm="1">
      <client-view client="currClient"></client-view>
    </md-grid-tile>
  </md-grid-list>
  <div ng-if="vm.allClients === undefined || vm.allClients.length === 0"
       layout-align="center center" layout="row">
    <h2>There is no clients connected to the server !</h2>
  </div>
</md-content>